<!DOCTYPE html>
<html>
<head>
  <title>PRODOWN</title>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap.min", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="#">Pro-Down</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#">Sobre</a></li>
					<li><a href="#about">Contato</a></li>
					<li><%= link_to "Sair", {:controller => :sessions, :action => :logout} %></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<br><br><br>
<div class="container-fluid">
	<div class="row-fluid">
		<% if @current_user %>
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header"><h4>Bem-vindo,  <%= @current_user[1] %></h4></li>
					<% if session[:adm] == 1 %>
						<li><%= link_to "Estados", {:controller => :estados, :action => :index} %></li>
						<li><%= link_to "Cidades", {:controller => :cidades, :action => :index} %></li>
						<li><%= link_to "Instituições", {:controller => :instituicoes, :action => :index} %></li>
						<li><%= link_to "Professores", {:controller => :professores, :action => :index} %></li>
						<li><%= link_to "Administradores", {:controller => :administradores, :action => :index} %></li>
					<% else %>
						<li><%= link_to "Relatórios", {:controller => :relatorios, :action => :index} %></li>
						<li><%= link_to "Editar perfil", {:controller => :professores, :action => :edit, :id => session[:user_id]} %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<% end %>
		<div class="span9">
			<% if flash[:alert] %>
				<div class="clear"></div>
				<div class="span12 pull-right">
					<div class="alert alert-error">
	    					<strong><%= flash[:alert] %></strong>
					</div>
				</div>
				<div class="clear"></div>
			<% elsif flash[:notice] %>
				<div class="clear"></div>
				<div class="span12 pull-right">
					<div class="alert alert-success">
	    					<strong><%= flash[:notice] %></strong>
					</div>
				</div>
				<div class="clear"></div>
			<% end %>
			<%= yield %>
		</div>
	</div>
</div>
</body>
</html>
