<div class="span12 pull-right">
	<ul class="breadcrumb">
		<li class="active">Cidades<span class="divider">&raquo;</span></li>
		<li class="active">Editar</li>
	</ul>
</div>


<div class="span12 pull-right">
	<%= form_tag({:action => 'update'}, {:class => 'form-horizontal'}) do %>
		<fieldset>
			<legend>EDITAR CIDADE</legend>
			<div class="control-group">
				<label class="control-label" for="cidade_estados_id">ESTADO</label>
				<div class="controls">
					<%= select_tag 'cidade[estados_id]', options_for_select(@estados, @cidade.first[2]) %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="cidade_nome">NOME</label>
				<div class="controls">
					<%= text_field :cidade, :nome, {:placeholder => 'nome', :value => @cidade.first[1]} %>
				</div>
			</div>
			<div class="options btn-group">
				<%= button_tag(type: 'submit', class: "btn btn-primary") do %><i class="icon-check icon-white"></i> SALVAR<% end %>
				<%= link_to "<i class='icon-remove'></i> CANCELAR".html_safe, {:action => :index}, :class => 'btn' %>
			</div>
		</fieldset>
	<% end %>
</div>
