<h1>CADASTRAR INSTITUIÇÃO</h1>
<%= form_tag :action => 'create' do %>

	<p><label for="cpf">CNPJ</label>:
	<%= text_field :instituicao, :cnpj %></p>

	<p><label for="cpf">NOME</label>:
	<%= text_field :instituicao, :nome %></p>

	<p><label for="cpf">ENDEREÇO</label>:
	<%= password_field :instituicao, :endereco %></p>

	<p><label for="cpf">TELEFONE</label>:
	<%= text_field :instituicao, :telefone %></p>

	<%= submit_tag "CADASTRAR" %>

<% end %>
