<div class="span12 pull-right">
	<ul class="breadcrumb">
		<li class="active">Professores<span class="divider">&raquo;</span></li>
		<li class="active">Editar</li>
	</ul>
</div>


<div class="span12 pull-right">
	<%= form_tag({:action => 'update'}, {:class => 'form-horizontal'}) do %>
		<fieldset>
			<legend>EDITAR PROFESSOR</legend>
			<div class="control-group">
				<label class="control-label" for="professor_cpf">CPF</label>
				<div class="controls">
					<%= text_field :professor, :cpf, {:placeholder => 'cpf', :value => "#{@professor.first[0][0..2]}.#{@professor.first[0][3..5]}.#{@professor.first[0][6..8]}-#{@professor.first[0][9..10]}"} %></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="professor_nome">NOME</label>
				<div class="controls">
					<%= text_field :professor, :nome, {:placeholder => 'nome', :value => @professor.first[1]} %></p>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="professor_senha_new">NOVA SENHA</label>
				<div class="controls">
					<%= text_field :professor, :senha_new, {:placeholder => 'nova senha', :value => '', :type => :password} %></p>
				</div>
			</div>
			<div class="options btn-group">
				<%= button_tag(type: 'submit', class: "btn btn-primary") do %><i class="icon-check icon-white"></i> SALVAR<% end %>
				<%= link_to "<i class='icon-remove'></i> CANCELAR".html_safe, {:action => :index}, :class => 'btn' %>
			</div>
		</fieldset>
	<% end %>
</div>
