<div class="span12 pull-right">
	<ul class="breadcrumb">
		<li class="active">Administrador<span class="divider">&raquo;</span></li>
		<li class="active">Editar</li>
	</ul>
</div>


<div class="span12 pull-right">
	<%= form_tag({:action => 'update'}, {:class => 'form-horizontal'}) do %>
		<fieldset>
			<legend>EDITAR ADMINISTRADOR</legend>
			<div class="control-group">
				<label class="control-label" for="administrador_cpf">CPF</label>
				<div class="controls">
					<%= text_field :administrador, :cpf, {:placeholder => 'cpf', :value => "#{@administrador.first[0][0..2]}.#{@administrador.first[0][3..5]}.#{@administrador.first[0][6..8]}-#{@administrador.first[0][9..10]}"} %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="administrador_nome">NOME</label>
				<div class="controls">
					<%= text_field :administrador, :nome, {:placeholder => 'nome', :value => @administrador.first[1]} %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="administrador_email">E-MAIL</label>
				<div class="controls">
					<%= text_field :administrador, :email, {:placeholder => 'e-mail', :value => @administrador.first[2]} %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="administrador_senha_new">SENHA</label>
				<div class="controls">
					<%= text_field :administrador, :senha_new, {:placeholder => 'nova senha', :value => '', :type => :password} %>
				</div>
			</div>
			<div class="options btn-group">
				<%= button_tag(type: 'submit', class: "btn btn-primary") do %><i class="icon-check icon-white"></i> SALVAR<% end %>
				<%= link_to "<i class='icon-remove'></i> CANCELAR".html_safe, {:action => :index}, :class => 'btn' %>
			</div>
		</fieldset>
	<% end %>
</div>
