<div class="span12 pull-right">
	<ul class="breadcrumb">
		<li class="active">Administrador<span class="divider">&raquo;</span></li>
		<li class="active">Cadastrar</li>
	</ul>
</div>


<div class="span12 pull-right">
	<%= form_tag({:action => 'create'}, {:class => 'form-horizontal'}) do %>
		<fieldset>
			<legend>CADASTRAR ADMINISTRADOR</legend>
			<div class="control-group">
				<label class="control-label" for="administrador_cpf">CPF</label>
				<div class="controls">
					<%= text_field :administrador, :cpf, {:placeholder => 'cpf'} %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="administrador_nome">NOME</label>
				<div class="controls">
					<%= text_field :administrador, :nome, {:placeholder => 'nome'} %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="administrador_nome">E-MAIL</label>
				<div class="controls">
					<%= text_field :administrador, :email, {:placeholder => 'e-mail'} %>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="administrador_nome">SENHA</label>
				<div class="controls">
					<%= text_field :administrador, :senha, {:placeholder => 'senha', :type => :password} %>
				</div>
			</div>
			<div class="options btn-group">
				<%= button_tag(type: 'submit', class: "btn btn-primary") do %><i class="icon-check icon-white"></i> SALVAR<% end %>
				<%= link_to "<i class='icon-remove'></i> CANCELAR".html_safe, {:action => :index}, :class => 'btn' %>
			</div>
		</fieldset>
	<% end %>
</div>
