<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
			<li class="active">Instituições<span class="divider">&raquo;</span></li>
			<li class="active">Adicionar</li>
		</ul>
	</div>
</div>

<div class="row">
	<%= form_tag({:action => 'create'}, {:class => 'form-horizontal'}) do %>
		<fieldset>
			<legend>CADASTRAR INSTITUIÇÃO</legend>
			<div class="control-group">
				<label class="control-label" for="instituicao_cnpj">CNPJ</label>
				<div class="controls">
					<%= text_field :instituicao, :cnpj %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="instituicao_nome">NOME</label>
				<div class="controls">
					<%= text_field :instituicao, :nome %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="instituicao_endereco">CIDADE</label>
				<div class="controls">
					<%= select :instituicao, :cidade_id, @cidades %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="instituicao_endereco">ENDEREÇO</label>
				<div class="controls">
					<%= text_field :instituicao, :endereco %>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="instituicao_telefone">TELEFONE</label>
				<div class="controls">
					<%= text_field :instituicao, :telefone %>
				</div>
			</div>
	
			<%= submit_tag "CADASTRAR" %>
		</fieldset>
	<% end %>
</div>
