<div class="span12">
	<ul class="breadcrumb">
		<li class="active">Estados<span class="divider">&raquo;</span></li>
		<li class="active">Listagem</li>
	</ul>
</div>
<div class="clear"></div>
<div class="span12 pull-right"><%= link_to "Adicionar", {:action => :new}, {:class => 'btn btn-success'} %></div>
<div class="clear"></div>
<table class="table table-hover">
	<thead>
		<th>ESTADO</th>
		<th>SIGLA</th>
		<th>&nbsp;</th>
	</thead>
	<tbody>
	<% @estados.to_a.each do |estado| %>
		<tr>
			<td><%= estado[1] %></td>
			<td><%= estado[2] %></td>
			<td>
				<%= link_to "Editar", {:action => :edit, :id => estado[0]}, {:class => 'btn btn-info'} %>
				<%= link_to "<i class='icon-remove'></i>Excluir".html_safe, {:action => :delete, :id => estado[0]}, {:method => :post, :confirm => 'Tens certeza?', :class => 'btn btn-danger'} %>
			</td>
		</tr>	
	<% end %>
	</tbody>
</table>
